@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

body{
    background-color: #ffffff;
}
div{
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

div img{
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}
input {
    font-size: 18px;
}

button{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}